@using YemekSiparisUygulamasi.Models.Siniflar
@model List<Rezervasyon>
@{
    ViewBag.Title = "Rezervasyonlarim";
    Layout = "~/Views/Shared/_RezervasyonLayout.cshtml";
}



<br />
<h2>Rezervasyonlarım</h2>
<br />
<table class="table table-hover">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Telefon</th>
        <th>Mail</th>
        <th>Kişi Sayısı</th>
        <th>Tarih</th>
        <th>Saat</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.TelefonNo</td>
            <td>@x.Mail</td>
            <td>@x.KisiSayisi</td>
            <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
            <td>@x.Saat</td>
        </tr>
    }
</table>
<div class="inner-column">
    <a href="/Panelim2/Rezervasyon" class="btn btn-lg btn-circle btn-outline-new-white" style="margin-top:50px; margin-left:600px;">Rezervasyon Oluştur</a>
    </div>