@model YemekSiparisUygulamasi.Models.Siniflar.Fatura
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yorum Detay Sayfası</h2>
<br />

<div class="form-group">
    @Html.Label("Sipariş")
    @Html.TextBoxFor(x => x.Siparisler.Menu.Ad, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.FaturaID)
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Ad")
    @Html.TextBoxFor(x => x.Siparisler.Musteri.MusteriAd, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Soyad")
    @Html.TextBoxFor(x => x.Siparisler.Musteri.MusteriSoyad, new { @class = "form-control" })
    <br />
    @Html.Label("Tutar")
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />
    @Html.Label("Şehir")
    @Html.TextBoxFor(x => x.Siparisler.Musteri.MusteriSehir, new { @class = "form-control" })
    <br />


    <br />
</div>

