@model YemekSiparisUygulamasi.Models.Siniflar.Fatura
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Tarih)
    <input class="form-control" type="date" name="Tarih" />
    <br />
    @Html.Label("Sipariş")
    @Html.DropDownListFor(x => x.Siparisid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ToplamTutar)
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>






